@import "base";
@import "layout";
@import "tiles";
@import "tables";
@import "typography";
@import "elements";
@import "animation";

body {
  font-family: serif;
  letter-spacing: 1px;
}

label {
  font-weight: inherit;
  font-size: inherit;
}



select {
  border-color: rgba(0,0,0,0.15);
}

/*****************************************************************/


