<!doctype html>
<html ng-app="okcVis">
<head>
    <title>Cupid's Vocabulary</title>
    <script src="http://underscorejs.org/underscore.js"></script>
    <script src="libs/jquery-3.1.1.min.js"></script>
    <script src="libs/angular.js"></script>
    <link rel="stylesheet" href="libs/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">

    <script src="scripts/index.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/features.js"></script>
    <script src="scripts/essays.js"></script>
    <script src="directives/bargraph.js"></script>

</head>
<body ng-controller="mainController as main">

<div style="height: 100%;" class="fluid-container">

    <div ng-include="'partials/tutorial.html'"></div>
    <div ng-if="loading" class="modal-bg spinner">
        <div class="spin">.</div>
        <p>Please wait</p>
    </div>

    <div ng-controller="featuresController as features" class="col-sm-4">
        <h3>Features</h3>
        <div class="row select-row">
            <div class="col-md-12">
                <span ng-repeat="f in features.features">
                    <label id="checkbox-feature-{{f.name}}">
                        <input ng-model="f.visible" type="checkbox" for="checkbox-feature-{{f.name}}"/><div>{{f.name}}</div>
                    </label>
                </span>
            </div>
        </div>

        <div id="feature-row" class="row">
            <div ng-repeat="f in features.features" id="tile-feature{{f.id}}" ng-if="f.visible" class="col-sm-12 col-lg-6">
                    <div class="feature-tile">
                        <div ng-click="features.removeFeature(f.name)" class="remove-btn">&times;</div>
                        <label for="{{f.name}}-feature-select">{{f.name}}</label>
                        <select multiple ng-multiple="true" name="{{f.name}}" class="feature-select" ng-model="f.selected" id="{{f.name}}-feature-select">
                            <option>(no answer)</option>
                            <option ng-repeat="option in f.options">{{option}}</option>
                        </select>
                    </div>
            </div>
        </div>
    </div>

    <!--ESSAYS-->
    <div ng-controller="essaysController as essays" class="col-sm-8">
        <h3>Essays</h3>
        <!--<pre>{{essays.essays | json}}</pre>-->
        <div class="row select-row">
            <div class="col-md-12">
                <span ng-repeat="e in essays.essays">
                    <label id="checkbox-essay-{{e.id}}">
                        <input
                                ng-change="essays.updateData()"
                                ng-model="e.visible"
                                type="checkbox"
                                for="checkbox-essay-{{e.id}}"/><div>{{e.name}}</div>
                    </label>
                </span>
                <br />
                <label for="wordnumber">Number of words: </label>
                <input ng-blur="essays.updateNumber()" style="width: 48px; text-align: center;" id="wordnumber" type="text" ng-model="essays.number" />
            </div>
        </div>


        <div id="essay-row" class="row">
            <div ng-repeat="e in essays.essays" id="tile-essay{{e.id}}" ng-if="e.visible" class="col-sm-6 col-lg-4">
                <div ng-if="essays.data['essay'+e.id]" class="essay-tile">
                    <div ng-click="essays.removeEssay(e.id)" class="remove-btn">&times;</div>
                    <p>{{e.name}}</p>
                    <bargraph bgheight="100" bgdata="essays.data['essay'+e.id]"></bargraph>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
                <a href="about">About</a>&emsp;|&emsp;2016 Robert Wlcek
            </div>
        </div>
    </div>

</footer>
</body>
</html>