<!doctype html>
<html ng-app="okcVis">
<head>
    <title>About Cupid's Vocabulary</title>
    <link rel="stylesheet" href="libs/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">

</head>

<div class="container">

    <div class="row">
        <h1 style="text-align: center;"><a style="color: inherit; border: none;" href="/vis">&#128149;</a></h1>

        <div class="col-sm-5 col-lg-3 col-lg-offset-3 col-sm-offset-1">
            <p>
                This is a visualization of <%= number %> profiles from the OKCupid database, scraped by Albert Y. Kim and
                Adriana Escobedo-Land (repository <a href="https://github.com/rudeboybert/JSE_OkCupid">here</a>).
            </p>
        </div>
        <div class="col-sm-5 col-lg-3">
            <p>
                This web application uses the following libraries:
            </p>
            <div><a href="https://angularjs.org/">Angular</a></div>
            <div><a href="http://getbootstrap.com/">Bootstrap</a></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-lg-6 col-lg-offset-3 col-sm-offset-1">

          <p style="margin-top: 2em;">Before counting, the following strings will be removed:</p>
          <p style="font-size: 12px; font-family: 'Source Code Pro', Monaco, monospace;">/^my/, /^i'm/, /^i/, /^and/, /the/, /but/, / . /, " so ", " the ", " of ", " and ", " to ", " in ", " for ", " is ", " on ", " that ", " by ", " this ", " with ", " you ", " it ", " not ", " or ", " be ", " are ", " from ", " at ", " as ", " your ", " all ", " have ", " new ", " more ", " an ", " was ", " we ", " will ", " home ", " can ", " us ", " about ", " if ", " page ", " my ", " has ", " search ", " free ", " but ", " our ", " one ", " other ", " do ", " no ", " information ", " time ", " they ", " site ", " he ", " up ", " may ", " what ", " which ", " their ", " news ", " out ", " use ", " any ", " there ", " see ", " only ", " so ", " his ", " when ", " contact ", " here ", " business ", " who ", " web ", " also ", " now ", " help ", " i m ", " just ", " get ", " pm ", " view ", " online ", " first ", " am ", " been ", " would ", " how ", " were ", " me ", " services ", " some ", " these ", " click ", " its ", "\"", " like ", " service ", " x ", " than ", " find ", " i'm ", " it's ", " you're " </p>
        </div>
    </div>

    <div class="row" style="margin-top: 48px;">
        <div class="col-sm-10 col-lg-6 col-lg-offset-3 col-sm-offset-1">
            <p>If you are tired of statistics, take a look at this example record straight from the database:</p>
            <table id="example-record">
            <% record[0].each do |k, v| %>
                <tr>
                    <td><%= k %></td>
                    <td><%= v %></td>
                </tr>
            <% end %>
            </table>

        </div>
    </div>
</div>
</body>
</html>