/* line 1, ../scss/_layout.scss */
html, body {
  height: 100%; }

/* line 5, ../scss/_layout.scss */
footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em; }

/* line 13, ../scss/_layout.scss */
.select-row {
  margin-bottom: 12px; }

/* line 1, ../scss/_tiles.scss */
.tile, .feature-tile, .essay-tile {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  padding: 8px;
  margin-bottom: 30px;
  position: relative; }

/* line 16, ../scss/_tiles.scss */
.feature-tile select {
  width: 100%; }
/* line 20, ../scss/_tiles.scss */
.feature-tile label {
  padding-left: 15px;
  border-left: 15px solid #333; }
/* line 26, ../scss/_tiles.scss */
.feature-tile.frozen label {
  border-left: 15px solid #5bc0de; }

/* line 32, ../scss/_tiles.scss */
.essay-bar {
  border-right: 2px solid white;
  box-sizing: border-box;
  background-color: #333;
  transition: height 0.5s;
  float: left;
  position: relative; }

/* line 41, ../scss/_tiles.scss */
.essay-tile-frozen .essay-bar {
  background-color: #5bc0de; }

/* line 45, ../scss/_tiles.scss */
.essay-tile {
  padding-bottom: 30px; }
  /* line 49, ../scss/_tiles.scss */
  .essay-tile p {
    white-space: nowrap;
    overflow: hidden;
    margin-right: 20px; }

/* line 56, ../scss/_tiles.scss */
.remove-btn {
  position: absolute;
  padding-bottom: 2px;
  right: 12px;
  cursor: default;
  width: 15px;
  height: 15px;
  text-align: center; }
  /* line 65, ../scss/_tiles.scss */
  .remove-btn:hover {
    text-decoration: underline; }

/* line 70, ../scss/_tiles.scss */
.essay-bars {
  padding-bottom: 105px;
  border-bottom: 2px dotted #333;
  margin-bottom: 3px;
  position: relative; }
  /* line 76, ../scss/_tiles.scss */
  .essay-bars .no-match-info {
    text-align: center;
    color: #737373;
    font-style: italic;
    width: 100%;
    height: 60%;
    padding-top: 10%;
    position: absolute; }

/* line 88, ../scss/_tiles.scss */
.bar-label {
  position: absolute;
  bottom: 3px;
  left: 3px;
  color: white; }

/* line 95, ../scss/_tiles.scss */
.bar-label-2 {
  position: absolute;
  bottom: -28px;
  color: #333;
  left: 3px; }

/* line 1, ../scss/_tables.scss */
td {
  padding: 6px 12px 6px 0;
  vertical-align: top; }

/* line 6, ../scss/_tables.scss */
tr {
  border-bottom: 1px dashed #ccc; }
  /* line 9, ../scss/_tables.scss */
  tr td:first-child {
    font-weight: 700;
    text-align: right;
    padding-right: 48px; }

/* line 1, ../scss/_typography.scss */
h3 {
  padding-bottom: 12px; }

/* line 6, ../scss/_typography.scss */
a {
  border-bottom: 1px solid #337ab7; }
  /* line 9, ../scss/_typography.scss */
  a:hover {
    text-decoration: none; }

/* Base for label styling */
/* line 2, ../scss/_elements.scss */
input[type="checkbox"] {
  display: none; }

/* line 6, ../scss/_elements.scss */
.freeze-features-btn {
  float: right;
  border-radius: 3px;
  height: 27px;
  width: 27px;
  text-align: center;
  cursor: pointer; }
  /* line 14, ../scss/_elements.scss */
  .freeze-features-btn.inactive {
    background-color: #5bc0de;
    color: white; }
  /* line 19, ../scss/_elements.scss */
  .freeze-features-btn.active {
    background-color: white;
    color: #5bc0de; }

/* line 25, ../scss/_elements.scss */
label {
  position: relative; }

/* line 29, ../scss/_elements.scss */
select[multiple] {
  resize: vertical;
  overflow: auto;
  border: none; }

/* line 35, ../scss/_elements.scss */
option:checked {
  background-color: #333;
  color: white; }

/* line 42, ../scss/_elements.scss */
input[type="checkbox"]:checked + div {
  background-color: #333;
  color: white; }
/* line 47, ../scss/_elements.scss */
input[type="checkbox"]:checked:focus + div, input[type="checkbox"]:not(:checked):focus + div {
  color: green; }
/* line 51, ../scss/_elements.scss */
input[type="checkbox"] + div {
  border: 2px solid rgba(51, 51, 51, 0.7);
  padding: 1px 3px;
  box-sizing: border-box;
  cursor: pointer; }

/* hover style just for information */
/* line 61, ../scss/_elements.scss */
label:hover:before {
  border: 1px solid #4778d9 !important; }

/* line 65, ../scss/_elements.scss */
.modal-bg, .tutorial {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.32) 0%, white 38%, white 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.32) 0%, white 38%, white 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.32) 0%, white 38%, white 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }

/* line 76, ../scss/_elements.scss */
.spinner {
  padding-top: 40vh;
  text-align: center; }
  /* line 80, ../scss/_elements.scss */
  .spinner .spin {
    font-size: 200%;
    font-weight: 700; }

/* line 86, ../scss/_elements.scss */
.tutorial {
  padding-top: 30vh; }
  /* line 90, ../scss/_elements.scss */
  .tutorial .got-it {
    text-align: center; }
    /* line 93, ../scss/_elements.scss */
    .tutorial .got-it a {
      font-size: 130%;
      background-color: #333;
      padding: 3px;
      color: white;
      text-decoration: none; }
  /* line 102, ../scss/_elements.scss */
  .tutorial .help-text {
    height: 100%; }
    /* line 105, ../scss/_elements.scss */
    .tutorial .help-text p {
      font-size: 120%;
      padding: 8px; }

/* line 2, ../scss/_animation.scss */
.spin {
  -webkit-animation: spin 0.6s infinite linear;
  animation: spin 0.6s infinite linear; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
/* line 9, ../scss/index.scss */
body {
  font-family: serif;
  letter-spacing: 1px; }

/* line 14, ../scss/index.scss */
label {
  font-weight: inherit;
  font-size: inherit; }

/* line 21, ../scss/index.scss */
select {
  border-color: rgba(0, 0, 0, 0.15); }

/*****************************************************************/
