/* line 1, ../scss/_layout.scss */
html, body {
  height: 100%; }

/* line 5, ../scss/_layout.scss */
footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em; }

/* line 13, ../scss/_layout.scss */
.select-row {
  margin-bottom: 12px; }

/* line 1, ../scss/_tiles.scss */
.tile, .feature-tile, .essay-tile {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  padding: 12px;
  margin-bottom: 30px;
  position: relative; }

/* line 13, ../scss/_tiles.scss */
.feature-tile select {
  width: 100%; }

/* line 17, ../scss/_tiles.scss */
.essay-bar {
  border-right: 2px solid white;
  box-sizing: border-box;
  width: 33.3%;
  background-color: #333;
  float: left;
  position: relative; }

/* line 26, ../scss/_tiles.scss */
.essay-tile {
  padding-bottom: 30px; }
  /* line 30, ../scss/_tiles.scss */
  .essay-tile p {
    white-space: nowrap;
    overflow: hidden;
    margin-right: 20px; }

/* line 37, ../scss/_tiles.scss */
.remove-btn {
  position: absolute;
  top: 12px;
  padding-bottom: 2px;
  right: 12px;
  cursor: default;
  width: 15px;
  height: 15px;
  text-align: center; }
  /* line 47, ../scss/_tiles.scss */
  .remove-btn:hover {
    text-decoration: underline; }

/* line 52, ../scss/_tiles.scss */
.essay-bars {
  padding-bottom: 105px;
  border-bottom: 2px dotted #333;
  margin-bottom: 3px; }

/* line 58, ../scss/_tiles.scss */
.bar-label {
  position: absolute;
  bottom: 3px;
  left: 3px;
  color: white; }

/* line 65, ../scss/_tiles.scss */
.bar-label-2 {
  position: absolute;
  bottom: -28px;
  color: #333;
  left: 3px; }

/* line 1, ../scss/_tables.scss */
td {
  padding: 6px 12px 6px 0;
  vertical-align: top; }

/* line 6, ../scss/_tables.scss */
tr {
  border-bottom: 1px dashed #ccc; }
  /* line 9, ../scss/_tables.scss */
  tr td:first-child {
    font-weight: 700;
    text-align: right;
    padding-right: 48px; }

/* line 1, ../scss/_typography.scss */
h3 {
  padding-bottom: 12px;
  border-bottom: 2px dashed #ccc; }

/* line 6, ../scss/_typography.scss */
a {
  border-bottom: 1px solid #337ab7; }
  /* line 9, ../scss/_typography.scss */
  a:hover {
    text-decoration: none; }

/* Base for label styling */
/* line 2, ../scss/_elements.scss */
input[type="checkbox"] {
  display: none; }

/* line 6, ../scss/_elements.scss */
label {
  position: relative; }

/* line 12, ../scss/_elements.scss */
input[type="checkbox"]:checked + div {
  background-color: #333;
  color: white; }
/* line 17, ../scss/_elements.scss */
input[type="checkbox"]:checked:focus + div, input[type="checkbox"]:not(:checked):focus + div {
  color: green; }
/* line 21, ../scss/_elements.scss */
input[type="checkbox"] + div {
  border: 2px solid rgba(51, 51, 51, 0.7);
  padding: 1px 3px;
  box-sizing: border-box;
  cursor: pointer; }

/* hover style just for information */
/* line 31, ../scss/_elements.scss */
label:hover:before {
  border: 1px solid #4778d9 !important; }

/* line 8, ../scss/index.scss */
body {
  font-family: serif;
  letter-spacing: 1px; }

/* line 13, ../scss/index.scss */
label {
  font-weight: inherit;
  font-size: inherit; }

/* line 20, ../scss/index.scss */
select {
  border-color: rgba(0, 0, 0, 0.15); }

/*****************************************************************/
