<div id="stammdatenpflegeAnlagenCtrlEl" ng-controller="stammdatenpflegeAnlagenController as stammdatenpflegeAnlagen">


    <div class="container" style="padding-top: 24px;">

        <div class="row">

            <div class="four columns">
                <ul class="tree-nav">
                    <li class="first-level" ng-repeat="anlage in anlagen"><span ng-click="showAnlage(anlage.id)">{{anlage.name}}</span>
                        <ul>
                            <li class="second-level" ng-repeat="ofen in anlage.oefen"><span ng-click="showOfen(ofen.id)">{{ofen.name}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="eight columns">
                <div ng-if="templateFlags.anlage">
                    <h3>{{"Stammdatenpflege.AnlageUeberschrift" | translate}}</h3>
                    <form name="stammdatenpflegeAnlagen.anlagenForm">

                        <div class="row">
                            <div class="one-half column">
                                <fieldset>
                                    <p>
                                        <legend>{{"Stammdatenpflege.AnlageName" | translate}}</legend>
                                        <input type="text" name="name" id="input-anlage-name" ng-required="true" ng-maxlength="50" ng-model="model.name" />
                                    </p>
                                </fieldset>
                            </div>
                            <div class="one-half column">
                                <fieldset>
                                    <p>
                                        <legend>{{"Stammdatenpflege.AnlageGGeschw" | translate}}</legend>
                                        <input type="number" ng-pattern="/^[0-9]+?$/" name="giessgeschw" id="input-anlage-giessgeschw" ng-model="model.giess_geschwindigkeit" />
                                    </p>
                                </fieldset>
                            </div>
                        </div>
                    </form>

                    <div class="double-extra-margin">
                        <jqx-button ng-click="cancelAnlageEditing()">{{"Form.Abbrechen" | translate}}</jqx-button>
                        <jqx-button
                                class="right-action"
                                jqx-template="primary"
                                ng-click="saveForm()"
                                ng-disabled="stammdatenpflegeAnlagen.anlagenForm.$pristine || stammdatenpflegeAnlagen.anlagenForm.$invalid">{{"Form.Speichern" | translate}}</jqx-button>
                    </div>
                </div>
                <div ng-if="templateFlags.ofen">
                    <h3>{{"Stammdatenpflege.OfenUeberschrift" | translate}}</h3>
                    <form name="stammdatenpflegeAnlagen.ofenForm">
                        <div class="row">
                            <div class="one-half column">
                                <fieldset>
                                    <p>
                                        <legend>{{"Stammdatenpflege.OfenName" | translate}}</legend>
                                        <input type="text" name="name" id="input-ofen-name" ng-required="true" ng-maxlength="50" ng-model="model.name" />
                                    </p>
                                </fieldset>
                            </div>
                            <div class="one-half column">
                                <fieldset>
                                    <p>
                                        <legend>{{"Stammdatenpflege.OfenKapa" | translate}}</legend>
                                        <input type="number" ng-pattern="/^[0-9]+?$/" ng-required="true" name="kapa" id="input-ofen-kapa" ng-model="model.kapazitaet" />
                                        <!--<label for="input-anlage-name">Small</label>-->
                                    </p>
                                </fieldset>
                            </div>
                        </div>
                    </form>

                    <div class="double-extra-margin">
                        <jqx-button ng-click="cancelOfenEditing()">{{"Form.Abbrechen" | translate}}</jqx-button>
                        <jqx-button
                                class="right-action"
                                jqx-template="primary"
                                ng-click="saveForm()"
                                ng-disabled="stammdatenpflegeAnlagen.ofenForm.$pristine || stammdatenpflegeAnlagen.ofenForm.$invalid">{{"Form.Speichern" | translate}}</jqx-button>
                    </div>
                </div>

                <hr ng-if="templateFlags.ofen" class="double-extra-margin" />

                <div ng-if="templateFlags.ofen">
                    <h3>{{"Stammdatenpflege.StillstandszeitUeberschrift" | translate}}</h3>
                            <p>
                    <!--<pre>{{model | json}}</pre>-->
                            <table class="form-table" ng-if="model.ofenStillstandsZeiten.length > 0">
                                <thead>
                                <tr>
                                    <th>{{"Beginn" | translate}}</th>
                                    <th>{{"Ende" | translate}}</th>
                                    <th>{{"Stammdatenpflege.OfenStillstandszeitenAktiv" | translate}}</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr
                                        ng-form
                                        name="stillstandszeit.form"
                                        ng-repeat="stillstandszeit in model.ofenStillstandsZeiten">
                                    <td><jqx-date-time-input
                                            jqx-settings="dateTimeSettings"
                                            jqx-on-change="setEndTime()"
                                            id="stillstandszeit-beginn-input-{{stillstandszeit.id}}"
                                            data-index="{{stillstandszeit.id}}"
                                            required
                                            jqx-ng-model
                                            name="beginn-{{stillstandszeit.id}}"
                                            ng-model="stillstandszeit.beginn">
                                    </jqx-date-time-input></td>
                                    <td><jqx-date-time-input
                                            jqx-settings="dateTimeSettings"
                                            id="stillstandszeit-ende-input-{{stillstandszeit.id}}"
                                            required
                                            jqx-ng-model
                                            name="end-{{stillstandszeit.id}}"
                                            ng-model="stillstandszeit.ende">
                                    </jqx-date-time-input></td>
                                    <td class="padded">
                                        <jqx-check-box
                                            id="stillstandszeit-aktiv-cb-{{stillstandszeit.id}}"
                                            name="aktiv-{{stillstandszeit.id}}"
                                            ng-true-value="1"
                                            ng-false-value="0"
                                            ng-model="stillstandszeit.aktiv">
                                        </jqx-check-box></td>
                                    <td class="small-table-button-td">
                                        <jqx-button
                                                class="small-table-button"
                                                id="stillstandszeit-save-cb-{{stillstandszeit.id}}"
                                                ng-show="stillstandszeit.form.$dirty"
                                                ng-disabled="stillstandszeit.form.$invalid"
                                                ng-click="saveStillstandszeit($index)">
                                            <i class="fa fa-floppy-o"></i></jqx-button>
                                    </td>
                                    <td class="small-table-button-td">
                                        <jqx-button
                                                class="small-table-button"
                                                id="stillstandszeit-discard-cb-{{stillstandszeit.id}}"
                                                ng-show="stillstandszeit.form.$dirty"
                                                data-index="$index"
                                                ng-click="removeStillstandszeit($index)">
                                            <i class="fa fa-trash"></i></jqx-button>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                            <jqx-button class="extra-margin" ng-click="addStillstandszeit()"><i class="fa fa-plus"></i>&ensp;{{"Stammdatenpflege.OfenStillstandszeitenHinzufuegen" | translate}}</jqx-button>
                            </p>

                </div>

                <hr class="double-extra-margin" />
                <p ng-show="model.firstedit">{{"Form.zuletztBearbeitet" | translate}} {{model.user_lastedit}} {{"Form.am" | translate}} {{model.lastedit | amDateFormat:'DD.MM.YYYY, HH:mm'}}<br />
                    {{"Form.erstellt" | translate}} {{model.user_firstedit}} {{"Form.am" | translate}} {{model.firstedit | amDateFormat:'DD.MM.YYYY, HH:mm'}}</p>
            </div>

        </div>

    </div>

</div>