<div id="grobplanCtrlEl" class="full-height" ng-controller="grobplanController as grobplan">

    <dragdrop ng-if="enableEditing"
              dd-source="#auftraege-grid [role='row']"
              dd-target=".ofen-grid"
              dd-on-drop="onDrop"
              dd-on-empty-drop="onEmptyDrop"
              dd-on-drag="onDrag">
        {{"Dragdrop.Kontrakt" | translate}}: <em>{{drag.kontrakt}}</em><br />
        {{"Dragdrop.Artikel" | translate}}: <em>{{drag.artikel}}</em><br />
        {{"Dragdrop.Äquivalente" | translate}}:
        <em ng-if="drag.aequivalente.length > 1" ng-repeat="ae in drag.aequivalente">{{ae}} </em>
        <span ng-if="drag.aequivalente.length === 1">{{"Allgemein.Keine" | translate}} </span>
    </dragdrop>

    <div ng-if="!planReady" class="full-height full-width" style="margin-top: 30%; text-align: center; color: #333;"><i class="fa fa-cog fa-4x fa-spin"></i></div>
    <jqx-splitter class="jqx-hideborder" jqx-settings="auftraegeSplitterSettings">
        <div>
            <jqx-splitter jqx-settings="fertiglagerSplitterSettings">
                <!--#region Fertiglager-->
                <div>
                    <div style="box-sizing: border-box; border-bottom: 1px solid lightgrey; width: 100%; padding: 6px; height: 40px; position: absolute;">
                        <h3 class="float-left">{{"Fertiglager.Ueberschrift" | translate}} <i ng-if="fertiglagerPending" class="fa fa-cog fa-spin"></i></h3>
                    </div>
                    <div style="margin-top: 40px; height: calc(100% - 40px);">
                        <div style="padding: 6px;" ng-if="!fertiglagerDtSource || (fertiglagerError !== 0)">
                            <p class="row six columns text-info" ng-if="!fertiglagerDtSource">
                                {{"Fertiglager.CTA" | translate}}

                            </p>
                            <p class="row six columns text-error" ng-if="fertiglagerError !== 0">
                                {{"Fertiglager.Error" | translate}}
                            </p>
                        </div>
                        <jqx-data-table id="fertiglager-dt"
                                        jqx-settings="fertiglagerDtSettings"
                                        jqx-source="fertiglagerDtSource"
                                        jqx-watch-settings
                                        jqx-columns="fertiglagerDtColumns"
                                        class="jqx-hideborder">
                        </jqx-data-table>
                    </div>
                </div>
                <!--#endregion-->
                <!--#region Anlagen-->
                <div style="position: relative;">

                    <jqx-drop-down-button ng-if="ofenVisible"
                                          jqx-settings="manageOfenColumnsButtonSettings"
                                          style="position: absolute; top: 10px; right: 10px; z-index: 10;"
                                          id="manage-ofen-columns-button">
                        <div style="width: 188px; padding: 6px; z-index: 9999;">
                            <div style="margin: 6px 0;" ng-repeat="column in ofenColumns track by $index">
                                <label for="{{column.datafield}}-cb">
                                    <input type="checkbox"
                                           ng-change="ofenColumnChecked()"
                                           ng-true-value="false"
                                           ng-false-value="true"
                                           ng-model="column.hidden"
                                           id="{{column.datafield}}-cb" />
                                    {{column.text}}
                                </label>
                            </div>
                        </div>
                    </jqx-drop-down-button>

                    <jqx-drop-down-button ng-if="poolVisible"
                                          jqx-settings="managePoolColumnsButtonSettings"
                                          style="position: absolute; top: 10px; right: 10px; z-index: 10;"
                                          id="manage-pool-columns-button">
                        <div style="width: 188px; padding: 6px; z-index: 9999;">
                            <div style="margin: 6px 0;" ng-repeat="column in poolColumns">
                                <label for="{{column.datafield}}-cb">
                                    <input type="checkbox"
                                           ng-change="poolColumnChecked()"
                                           ng-true-value="false"
                                           ng-false-value="true"
                                           ng-model="column.hidden"
                                           id="pool-{{column.datafield}}-cb" />
                                    {{column.text}}
                                </label>
                            </div>
                        </div>
                    </jqx-drop-down-button>

                    <jqx-ribbon ng-if="planReady" jqx-settings="anlagenRibbonSettings" jqx-on-select="ribbonSelected()" jqx-watch-settings>
                        <ul style="bottom: 30px;">
                            <li ng-repeat="anlage in anlagen">
                                {{anlage.name}}
                            </li>
                            <li>
                                {{"Anlage.UeberschriftPools" | translate}}
                            </li>
                        </ul>
                        <div id="anlagen-panel">
                            <div style="position: relative;" ng-repeat="anlage in anlagen">
                                <h3 style="margin-bottom: 0;">{{"Anlage.Ueberschrift" | translate}}: {{anlage.name}}</h3>

                                <div style="height: 80%;" class="row full-width">
                                    <div id="{{ofen.id}}-container" class="ofen-container six columns full-height" ng-repeat="ofen in anlage.oefen">
                                        <p>{{"ofen.name" | translate}}: {{ofen.name}}, {{"ofen.kapa" | translate}}: {{ofen.kapazitaet}}</p>
                                        <jqx-grid class="ofen-grid"
                                                  data-ofen="true"
                                                  data-pool="false"
                                                  data-type="ofen"
                                                  id="jqx-grid-{{ofen.id}}"
                                                  jqx-on-rowclick="rowClick()"
                                                  jqx-settings="ofen.gridSettings">
                                        </jqx-grid>
                                    </div>
                                </div>
                            </div>
                            <div style="position: relative;">
                                <h3 style="margin-bottom: 0;">{{"Anlage.UeberschriftPools" | translate}}</h3>

                                <div style="height: 80%;" class="row full-width">
                                    <div id="{{pool.id}}-container" class="ofen-container four columns full-height" ng-repeat="pool in plan.poolListe.pools">
                                        <p>{{pool.name}}</p>
                                        <jqx-grid class="ofen-grid"
                                                  data-ofen="false"
                                                  data-pool="true"
                                                  data-type="pool"
                                                  id="pool-jqx-grid-{{pool.id}}"
                                                  jqx-on-rowclick="rowClick()"
                                                  jqx-settings="pool.gridSettings">
                                        </jqx-grid>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </jqx-ribbon>
                </div>
                <!--#endregion-->
            </jqx-splitter>
        </div>
        <!--#region Auftraege-->
        <div>
            <div style="box-sizing: border-box; border-bottom: 1px solid lightgrey; width: 100%; padding: 10px; height: 52px; position: absolute;">
                <h3 class="float-left">{{"Auftraege.Ueberschrift" | translate}}</h3>
                <jqx-drop-down-button jqx-settings="manageColumnsButtonSettings" class="modal-bottom-button" id="manage-columns-button">
                    <div style="width: 188px; padding: 6px;">
                        <div style="margin: 6px 0;" ng-repeat="column in gridColumns track by $index">
                            <label for="{{column.datafield}}-cb">
                                <input type="checkbox"
                                       ng-change="columnChecked()"
                                       ng-true-value="false"
                                       ng-false-value="true"
                                       ng-model="column.hidden"
                                       id="{{column.datafield}}-cb" />
                                {{column.text}}
                            </label>
                        </div>
                    </div>
                </jqx-drop-down-button>
                <jqx-button jqx-height="27" jqx-width="188" ng-disabled="!isInWrapper" ng-click="webWrapperTest()" class="modal-bottom-button"><i class="fa fa-bars"></i> Kontraktübersicht MSP</jqx-button>
                <jqx-button jqx-height="27" jqx-width="188" ng-disabled="false" ng-click="exportAuftraege()" class="modal-bottom-button"><i class="fa fa-file-excel-o"></i> {{"Auftraege.Export" | translate}}</jqx-button>

            </div>
            <div style="margin-top: 52px; height: calc(100% - 52px);">
                <jqx-grid id="auftraege-grid"
                          jqx-on-rowclick="rowClick()"
                          jqx-settings="auftraegeGridSettings"
                          jqx-columns="gridColumns"
                          class="jqx-hideborder">
                </jqx-grid>
            </div>
        </div>
        <!--#endregion-->
    </jqx-splitter>

</div>